.logo {
    height: 100px;
}

header {
    background: linear-gradient(#18744a, 30%,#649254);
}


a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #b0b277;
    color: black;
    text-align: center;
}